main {
  display: grid;
  width: 900px;
  background: #ccc;
  height: 1300px;

  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;

  flex-direction: column;
  flex-wrap: wrap;
}
.nav {
  background: #cf8;
}

.s1 {
  background: #fcc;
  flex-basis: 200px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  grid-column: 1/-1;
}
.s2 {
  background: rgb(228, 250, 28);
  flex-basis: 300px;
  flex-grow: 0;
  font-family: "Courier New", Courier, monospace;
}
.s3 {
  background: #ccf;
  flex-basis: 300px;
  flex-grow: 1;
}
.s4 {
  background: #ffc;
  flex-basis: 200px;
}
.s5 {
  background: #ffc0cb;
  grid-row: 2/6;
  grid-column: 2;
}

.s6 {
  background: #cff;
  flex-basis: 200px;
  flex-grow: 0;
}
.s7 {
  background: #f8c;
  flex-basis: 200px;
  flex-grow: 1;
}
.s8 {
  background: #fc8;
  flex-basis: 400px;
}
.s9 {
  background: #cf8;
  flex-basis: 400px;
  flex-grow: 0;
}

.footer {
  background: rgb(201, 12, 128);
  flex-basis: 400px;
  flex-grow: 0;
}
